<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tilitili.common.mapper.RecommendMapper">
	<resultMap id="RecommendResultMap" type="com.tilitili.common.entity.Recommend">
	</resultMap>
	<select id="count" resultType="Integer">
		select count(1) from recommend
		<where>
			<if test="av != null">and recommend.av = #{av}</if>
			<if test="status != null">and recommend.status = #{status}</if>
			<if test="issue != null">and recommend.issue = #{issue}</if>
		</where>
	</select>
	<select id="list" resultMap="RecommendResultMap">
		select * from recommend
		<where>
			<if test="av != null">and recommend.av = #{av}</if>
			<if test="status != null">and recommend.status = #{status}</if>
			<if test="issue != null">and recommend.issue = #{issue}</if>
		</where>
		<if test="sorter != null and sorted != null">
			order by [${sorter}] ${sorted}
		</if>
		<if test="sorter == null or sorted == null">
			order by id desc
		</if>
		<if test="start != null and pageSize != null">
			offset ${start} rows fetch next ${pageSize} rows only
		</if>
	</select>
	<insert id="insert" keyProperty="id" parameterType="com.tilitili.common.entity.Recommend" useGeneratedKeys="true">
		insert into recommend (
			<trim suffixOverrides=",">
				<if test="av != null">av,</if>
				<if test="status != null">status,</if>
				<if test="text != null">text,</if>
				<if test="operator != null">operator,</if>
				create_time,
				update_time,
			</trim>
		) values (
			<trim suffixOverrides=",">
				<if test="av != null">#{av},</if>
				<if test="status != null">#{status},</if>
				<if test="text != null">#{text},</if>
				<if test="operator != null">#{operator},</if>
				getdate(),
				getdate(),
			</trim>
		)
	</insert>
	<update id="update" parameterType="Recommend">
		update recommend
		<set>
		    update_time = getdate(),
			<if test="av != null">av = #{av},</if>
			<if test="status != null">status = #{status},</if>
			<if test="text != null">text = #{text},</if>
			<if test="operator != null">operator = #{operator},</if>
			<if test="issue != null">issue = #{issue},</if>
		</set>
		where id = #{id}
	</update>
</mapper>