<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tilitili.common.mapper.VideoInfoMapper">
	<resultMap id="VideoInfoResultMap" type="com.tilitili.common.entity.VideoInfo">
		<result column="pub_time" property="pubTime" />
		<result column="start_time" property="startTime" />
		<result column="is_delete" property="isDelete" />
		<result column="mission_id" property="missionId" />
		<result column="start_page" property="startPage" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="external_owner" property="externalOwner" />
	</resultMap>
	<select id="count" resultType="Integer">
		select count(1) from video_info
		<where>
			<if test="av != null">
				and video_info.av = #{av}
			</if>
			<if test="isDelete != null">
				and video_info.is_delete = #{isDelete}
			</if>
			<if test="name != null">
				and video_info.name like concat('%', #{name}, '%')
			</if>
			<if test="owner != null">
				and video_info.owner like concat('%', #{owner}, '%')
			</if>
			<if test="bv != null">
				and video_info.bv = #{bv}
			</if>
			<if test="type != null">
				and video_info.type = #{type}
			</if>
			<if test="copyright != null">
				and video_info.copyright = #{copyright}
			</if>
			<if test="status != null">
				and video_info.status = #{status}
			</if>
			<if test="createTimeStart != null">-- 大于
				and create_time &gt;= convert(varchar(10),#{createTimeStart},120)
			</if>
			<if test="createTimeEnd != null">-- 小于
				and create_time &lt; convert(varchar(10),#{createTimeEnd},120)
			</if>
		</where>
	</select>
	<select id="list" resultMap="VideoInfoResultMap">
		select * from video_info
		<where>
			<if test="av != null">
				and video_info.av = #{av}
			</if>
			<if test="isDelete != null">
				and video_info.is_delete = #{isDelete}
			</if>
			<if test="name != null">
				and video_info.name like concat('%', #{name}, '%')
			</if>
			<if test="owner != null">
				and video_info.owner like concat('%', #{owner}, '%')
			</if>
			<if test="bv != null">
				and video_info.bv = #{bv}
			</if>
			<if test="type != null">
				and video_info.type = #{type}
			</if>
			<if test="copyright != null">
				and video_info.copyright = #{copyright}
			</if>
			<if test="status != null">
				and video_info.status = #{status}
			</if>
			<if test="createTimeStart != null">-- 大于
				and create_time &gt;= convert(varchar(10),#{createTimeStart},120)
			</if>
			<if test="createTimeEnd != null">-- 小于
				and create_time &lt; convert(varchar(10),#{createTimeEnd},120)
			</if>
		</where>
		<if test="sorter != null and sorted != null">
			order by [${sorter}] ${sorted}
		</if>
		<if test="sorter == null or sorted == null">
			order by pub_time desc
		</if>
		<if test="start != null and pageSize != null">
			offset ${start} rows fetch next ${pageSize} rows only
		</if>
	</select>
	<insert id="insert" keyProperty="id" parameterType="com.tilitili.common.entity.VideoInfo" useGeneratedKeys="true">
		insert into video_info (
		<trim suffixOverrides=",">
			<if test="av != null">av,</if>
			<if test="name != null">[name],</if>
			<if test="img != null">img,</if>
			<if test="type != null">[type],</if>
			<if test="owner != null">[owner],</if>
			<if test="copyright != null">copyright,</if>
			<if test="pubTime != null">pub_time,</if>
			<if test="startTime != null">start_time,</if>
			<if test="isDelete != null">is_delete,</if>
			<if test="bv != null">bv,</if>
			<if test="description != null">[description],</if>
			<if test="state != null">[state],</if>
			<if test="attribute != null">[attribute],</if>
			<if test="duration != null">duration,</if>
			<if test="missionId != null">mission_id,</if>
			<if test="dynamic != null">[dynamic],</if>
			<if test="startPage != null">start_page,</if>
			<if test="status != null">status,</if>
			create_time,
			update_time,
		</trim>
		) values (
		<trim suffixOverrides=",">
			<if test="av != null">#{av},</if>
			<if test="name != null">#{name},</if>
			<if test="img != null">#{img},</if>
			<if test="type != null">#{type},</if>
			<if test="owner != null">#{owner},</if>
			<if test="copyright != null">#{copyright},</if>
			<if test="pubTime != null">#{pubTime},</if>
			<if test="startTime != null">#{startTime},</if>
			<if test="isDelete != null">#{isDelete},</if>
			<if test="bv != null">#{bv},</if>
			<if test="description != null">#{description},</if>
			<if test="state != null">#{state},</if>
			<if test="attribute != null">#{attribute},</if>
			<if test="duration != null">#{duration},</if>
			<if test="missionId != null">#{missionId},</if>
			<if test="dynamic != null">#{dynamic},</if>
			<if test="startPage != null">#{startPage},</if>
			<if test="status != null">#{status},</if>
			getdate(),
			getdate(),
		</trim>
		)
	</insert>
	<update id="update">
		update video_info
		<set>
			<if test="name != null">name = #{name},</if>
			<if test="img != null">img = #{img},</if>
			<if test="type != null">type = #{type},</if>
			<if test="owner != null">[owner] = #{owner},</if>
			<if test="copyright != null">copyright = #{copyright},</if>
			<if test="pubTime != null">pub_time = #{pubTime},</if>
			<if test="startTime != null">start_time = #{startTime},</if>
			<if test="isDelete != null">is_delete = #{isDelete},</if>
			<if test="bv != null">bv = #{bv},</if>
			<if test="description != null">[description] = #{description},</if>
			<if test="state != null">state = #{state},</if>
			<if test="attribute != null">attribute = #{attribute},</if>
			<if test="duration != null">duration = #{duration},</if>
			<if test="missionId != null">mission_id = #{missionId},</if>
			<if test="dynamic != null">[dynamic] = #{dynamic},</if>
			<if test="startPage != null">start_page = #{startPage},</if>
			<if test="status != null">status = #{status},</if>
			update_time = getdate(),
		</set>
		where av = #{av}
	</update>
	<select id="groupByCreateDay" resultType="VideoInfoGroup">
		select convert(varchar(10),create_time,120) as time, count(1) as number
		from video_info
		<where>
			<if test="isDelete != null">
				and is_delete = #{isDelete}
			</if>
			<if test="status != null">
				and status = #{status}
			</if>
			<if test="createTimeStart != null">-- 大于
				and create_time &gt;= convert(varchar(10),#{createTimeStart},120)
			</if>
			<if test="createTimeEnd != null">-- 小于
				and create_time &lt; convert(varchar(10),#{createTimeEnd},120)
			</if>
		</where>
		group by convert(varchar(10),create_time,120)
		order by convert(varchar(10),create_time,120)
	</select>
</mapper>