<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tilitili.common.mapper.VideoMapper">
	<select id="list" resultType="Video">
		select top 100
			video_info.av,
			video_info.name,
			video_info.img,
			video_info.type,
			video_info.owner,
			video_info.copyright,
			video_info.pub_time as pubTime,
			video_info.start_time as StartTime,
			video_info.is_delete,
			video_info.bv,
			video_info.description,
			video_info.state,
			video_info.duration,
			video_info.mission_id as MissionId,
			video_info.dynamic,
			video_info.start_page as StartPage,
			video_data.[view],
			video_data.reply,
			video_data.favorite,
			video_data.coin,
			video_data.page,
			video_data.point,
			video_data.rank,
			video_data.issue,
			video_data.danmaku,
			video_data.share,
			video_data.[like],
			video_data.dislike,
			video_data.evaluation,
			ISNULL(old_video_data.rank, 0) as hisRank,
			IIF(ISNULL(more_old_video_data.rank, 0) = 0 or ISNULL(old_video_data.rank, 0) = 0, 0, 1) as isLen
		from video_info left join video_data on video_info.av = video_data.av
			left join video_data as old_video_data on video_info.av = old_video_data.av and old_video_data.issue = video_data.issue - 1
			left join video_data as more_old_video_data on video_info.av = more_old_video_data.av and more_old_video_data.issue = video_data.issue - 2
		where video_info.is_delete = 0
			and video_data.issue = #{issue}
		order by video_data.point desc
	</select>
</mapper>