<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tilitili.common.mapper.VideoTagRelationMapper">
	<resultMap id="VideoTagRelationResultMap" type="com.tilitili.common.entity.VideoTagRelation">
<!--		<result column="create_time" property="createTime" />-->
<!--		<result column="update_time" property="updateTime" />-->
<!--		<result column="tag_id" property="tagId" />-->
	</resultMap>
	<select id="count" resultType="Integer">
		select count(1) from video_tag_relation
		<where>
			<if test="id != null">
				and video_tag_relation.id = #{id}
			</if>
			<if test="tagId != null">
				and video_tag_relation.tag_id = #{tagId}
			</if>
			<if test="av != null">
				and video_tag_relation.av = #{av}
			</if>
			<if test="status != null">
				and video_tag_relation.status = #{status}
			</if>
			<if test="type != null">
				and video_tag_relation.type = #{type}
			</if>
		</where>
	</select>
	<select id="list" resultMap="VideoTagRelationResultMap">
		select
		video_tag_relation.id,
		video_tag_relation.tag_id,
		video_tag_relation.av,
		video_tag_relation.create_time,
		video_tag_relation.update_time,
		video_tag_relation.type,
		video_tag_relation.status,
		video_tag_relation.remarks,
		tag.name as tag_name
		from video_tag_relation
		left join tag on video_tag_relation.tag_id = tag.id
		<where>
			<if test="id != null">
				and video_tag_relation.id = #{id}
			</if>
			<if test="tagId != null">
				and video_tag_relation.tag_id = #{tagId}
			</if>
			<if test="av != null">
				and video_tag_relation.av = #{av}
			</if>
			<if test="status != null">
				and video_tag_relation.status = #{status}
			</if>
			<if test="type != null">
				and video_tag_relation.type = #{type}
			</if>
		</where>
		<if test="sorter != null and sorted != null">
			order by [${sorter}] ${sorted}
		</if>
		<if test="sorter == null or sorted == null">
			order by pub_time desc
		</if>
		<if test="start != null and pageSize != null">
			offset ${start} rows fetch next ${pageSize} rows only
		</if>
	</select>
	<select id="countVideoTag" resultType="Integer">
		select count(distinct av) from video_tag_relation
		left join tag on video_tag_relation.tag_id = tag.id
		<where>
			<if test="av != null">
				and video_tag_relation.av = #{av}
			</if>
			<if test="status != null">
				and video_tag_relation.status = #{status}
			</if>
			<if test="type != null">
				and video_tag_relation.type = #{type}
			</if>
			<if test="tag != null">
				and tag.name = #{tag}
			</if>
		</where>
	</select>
	<select id="listVideoTag" resultType="VideoTag">
		select
			video_tag_relation.av,
			video_info.name,
			STRING_AGG(tag.id, ',') as tag_id_list_str
		from video_tag_relation
		left join tag on video_tag_relation.tag_id = tag.id
		left join video_info on video_tag_relation.av = video_info.av
		<where>
			<if test="av != null">
				and video_tag_relation.av = #{av}
			</if>
			<if test="status != null">
				and video_tag_relation.status = #{status}
			</if>
			<if test="type != null">
				and video_tag_relation.type = #{type}
			</if>
		</where>
		group by video_tag_relation.av, video_info.name
		<if test="tag != null">
			having STRING_AGG(tag.name, ',') like concat('%', #{tag}, '%')
		</if>
		<if test="sorter != null and sorted != null">
			order by [${sorter}] ${sorted}
		</if>
		<if test="sorter == null or sorted == null">
			order by av desc
		</if>
		<if test="start != null and pageSize != null">
			offset ${start} rows fetch next ${pageSize} rows only
		</if>
	</select>
	<insert id="insert" keyProperty="id" parameterType="com.tilitili.common.entity.VideoTagRelation" useGeneratedKeys="true">
		insert into video_tag_relation (
			<trim suffixOverrides=",">
				<if test="tagId != null">tag_id,</if>
				<if test="av != null">av,</if>
				create_time,
				update_time,
				<if test="status != null">status,</if>
				<if test="type != null">type,</if>
			</trim>
		) values (
			<trim suffixOverrides=",">
				<if test="tagId != null">#{tagId},</if>
				<if test="av != null">#{av},</if>
				getdate(),
				getdate(),
				<if test="status != null">#{status},</if>
				<if test="type != null">#{type},</if>
			</trim>
		)
	</insert>
	<update id="update">
		update video_tag_relation
		<set>
		    update_time = getdate(),
			<if test="av != null">av = #{av},</if>
			<if test="tagId != null">tag_id = #{tagId},</if>
			<if test="type != null">type = #{type},</if>
			<if test="status != null">status = #{status},</if>
			<if test="remark != null">remark = #{remark},</if>
		</set>
		where id = #{id}
	</update>
</mapper>